.hero-container {
    background: url(../../assets/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
    border: 2px solid #fff;
    border-radius: 7px;
    margin: 25px 10px 25px 10px;
}
