.movie-card-details {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

.movie-card-details:hover {
    box-shadow: 1px 1px 4px white;
}